<div>
    <div id="slider" class="">
        <button id="backImg"><</button>
        <button id="nextImg">></button>
        <?php echo $imgs ?>
    </div>
    <div class="img-counter" class="row">

    </div>
</div>

<script src="/scripts/main/slider.js" defer async></script>