*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
form{
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 25px;
    width: 450px;
    margin: 15% auto;
}
input {
    display: block;
    width: 400px;
    height: 30px;
}
label{
    display: block;
}
button{
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
table{
    border-collapse: collapse;
    margin: auto auto;
}
td{
    padding: 0px;
    margin: 1px;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 3px 3px 3px 3px;
}
span{
    text-align: center;
    color: red;
    font-size: 40px;
    display: block;
    width: 45px;
    height:45px;
    background-color: coral;
}
img{
    display: block;
    width: 45px;
    height: 45px;
}
.open {
    background-color: cornflowerblue;
}
#flagCounter:before{
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(flag.png);
    background-repeat: no-repeat;
    background-size: 50%;
    margin: -23px -17px;
}
#flagCounter{
    font-size: 40px;
    text-align: center;
}
#timer{
    text-align: center;
    font-size: 30px;
    color: red;
}
#newGame {
    margin: 0px auto;
}
#restart{
    margin: 10px 12vw;
}