<div class="form-group row">
    <div class="col-10">
        <input placeholder="введіть номер оголошення" class="form-control" id="advert" type="text" value="">
        <ul class="search_result col-11"></ul>
    </div>
    <button for="example-text-input" id="searchAdvert" class="btn col-2 col-form-label">Знайти оголошення</button>
    <div id="advertInfo" class="col-10">

    </div>
</div>

<script src="/scripts/admin/search_advert.js" defer async></script>