<div class="menu">
    <div class="row admin-office">
        <div class="col-4 text-right">
            <a href="http://carbuy/admin/userControl"> Керування користувачами </a>
        </div>
        <div class="col-4 text-left">
            <a href="http://carbuy/admin/advertControl">Керування оголошеннями</a>
        </div>
        <div class="col-4 text-left">
            <a href="http://carbuy/admin/statistics">Статистика</a>
        </div>
    </div>
</div>
<div class="container admin">
    <?php if(isset($Content)) echo $Content ?>
</div>