<div class="form-group row">
    <div class="col-10">
        <input placeholder="введіть логін" class="form-control" id="user" type="text" value="">
        <ul class="search_result col-11"></ul>
    </div>
    <button for="example-text-input" id="searchUser" class="btn col-2 col-form-label">Знайти користувача</button>
    <div id="userInfo" class="col-10">

    </div>
</div>

<script src="/scripts/admin/search_user.js" defer async></script>