*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: black;
}
canvas{
    display: block;
    border: 1px solid black;
    margin: 0px auto;
    background: linear-gradient(to bottom, #000000 12%,#d6dbbf 63%);
}
#mainBlock{
    padding-bottom: 45px;
    padding-top: 5px;
    margin: 0px auto;
    border: 1px solid red;
    background-color: darkseagreen;
    width: 400px;
    height: 600px;
}
button{
    display: block;
    width: 300px;
    height: 35px;
    margin: 0px auto;
}
#result{
    left: 200px;
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: white;
    top: 100px;
    text-align: center;
    font-size: 50px;
    color: red;
    line-height: 100px;
}
#gameover{
    left: 515px;
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: transparent;
    top: 100px;
    text-align: center;
    font-size: 50px;
    color: red;
    line-height: 100px;
}