<p>
    Дякую за реєстрацію на нашому сайті:)
</p>
<p>
    Для підтвердження реєстрації перейдіть за
    <a href= <?php if(isset($Token))  echo "http://carbuy/users/changeStatus?token=" . $Token ?> >
        ПОСИЛАННЯМ
    </a>
</p>