<script src="/scripts/users/login.js" async></script>


    <form  id="login-form" class="form-signin col-12 col-mg-8 col-lg-6 col-xl-5" action="http://carbuy/users/checkLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" required class="form-control" name="login" placeholder="Логін" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Пароль" required>
        <div class="checkbox mb-3">
            <label class="message">
            </label>
        </div>
        <button id="checkLogin" class="btn btn-lg btn-primary btn-block" type="submit">Ввійти</button>

    </form>

