<div  id="sucssesRegistration">
    <p>Для підтвердження реєстрації перейдіть за вказаною адресою в листі, який був відправлений на адресу вказану при реєстрації.</p>
    <a href="http://carbuy/users/login">Авторизуватися</a>
</div>