*{
    margin: 0px 0px;
    padding: 0px 0px;
}
body h1{
    font-size: 3rem !important;
}

#logo{
    width: 75px;
    height: 25px;
    display: inline-block;
    float: left;

}

@keyframes moon {
    0%{
        margin-right: 10px;
    }
    25%{
        margin-right: 20px;
    }
    50%{
        margin-right: 30px;
    }
    75%{
        margin-right: 20px;
    }
    100%{
        margin-right: 10px;
    }
}

a{
    text-decoration: none;
}
#wrapper{

}

#login-form{
    display: block;
    margin: 0px auto;
}
#registration{
    display: block;
    margin: 0px auto;
}


#registration input:valid{
    outline: 2px solid green;

}
.search-form{
    display: block;
    margin: 0px auto;
}
.search_result{
    background: #FFF;
    border: 1px #ccc solid;
    border-radius: 4px;
    max-height:200px;
    overflow-y:scroll;
    display:none;
    position: absolute !important;
    z-index: 1000;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
    position: relative !important;
}

.search_result li:hover{
    background: #F9FF00;
}

.img-preview{
    display: inline-block;
    margin: 5px;
    width: 100%;
    height: 100%;
}

#gallery div{
    display: inline-block;
}

#gallery div button{
    text-align: center;
    min-width: 100px;
}

.main-img {
    text-align: -webkit-center;
    padding: 0px 0px !important;
    height: 340px;
    overflow: hidden;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0px solid black;
}
.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.advert{
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.advert h4{
    margin-top: 10px;
}
.advert .date-advert{
    font-size: 17px;
    background-color: #0896D3;
    color: white;
}
.a-all-advert{
    display: block !important;
}


.a-all-advert:hover{
    color: #0896D3;
}
.a-all-advert:nth-child(1){
    margin-top: 20px;
}
.a-all-advert:nth-child(2),
.a-all-advert:nth-child(3){
    text-align: center !important;
    width: 100% !important;
    margin-top: 4%;
}

.rounded-circle{
    display: block;
    margin: 0px auto;
}


#slider{
    width: 100%;
    max-width: 960px;
    height: 30vw;
    min-height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    background-size: 100% 100%;
}

#backImg, #nextImg{
    height: 100%;
    width: 65px;
    opacity: 0.5;
    font-size: 30px;
    font-weight: bold;
}

#backImg{
    float: left;
}
#nextImg{
    float: right;
}

.img-counter{
    background: #0896D3;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    margin-bottom: 25px;
}

.img-preview{
    max-width: 250px;
    max-height: 180px;
}

.admin tr td:nth-child(2){
    text-align: left !important;
    width: 200px;
}

.info-img{
    width: 100%;
}

.info-h{
    margin-bottom: 40px;
}

.lead{
    margin-top: 20px;
}
th{
    text-align: center !important;
}

.featurette-heading{
    margin-top: 30px;
}

#pageNav{
    margin-top: 45px;
    text-align: center;
}
#pageNav a, #pageNav strong{
    display: inline-block;
    margin: 0px auto;
    padding: 8px;
    margin: 3px;
    text-decoration: none;
    background-color: rgba(171, 181, 21, 0.89);
    color: white;
}
#pageNav a{
    padding-left: 30px;
    padding-right: 30px;
}

#pageNav a:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}

#pageNav a:last-child{
    border-radius: 0px 10px 10px 0px;
}
#pageNav strong{
    padding-left:  10px;
    padding-right: 10px;
    cursor: default;
}
#pageNav a:hover{
    cursor: default;
    background-color: #00b500;
}

.simple-office a, .admin-office a{
    display: inline-block;
    margin: 0px auto;
    padding-bottom: 20px;
}

.form #checkLogin{
    display: block;
    margin: 0px auto;
}
@media (min-width: 320px){
    .advert table{
        margin: 0px auto;
        text-align: center;
    }
    .advert .a-all-advert{
           width: 320px;
           height: 65px;
           line-height: 47px;
       }

    .advert .main-img{
        width: 100%;
        margin: 0px 15px;
    }
    #slider{
      background-position-x: 50% !important;
    }
    .about-company{
        display: none;
    }

    #gallery div button{
        margin-bottom: 20px;
    }
}
@media (min-width: 576px) {
    #gallery div button{
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .advert table{
        margin: 0px 0px;
        text-align: left;
    }
    .advert .a-all-advert{
        height: 50px;
        line-height: 30px;
    }
    .about-company{
        display: inline-block;
    }
}
@media (min-width: 1024px) {
    #logo-text{
        animation: moon 7s infinite ease-in-out;
    }
    .advert table td {
        font-size: 1rem !important;
    }
    .advert .a-all-advert{
        height: 45px;
        line-height: 25px;
        width: 250px;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1920px) {

}