@media (min-width: 320px) {

}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1920px) {

}