﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/./css/arialWeb/stylesheet.css">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:bold&subset=latin,latin-ext,cyrillic,cyrillic-ext"-->
    <!--      rel="stylesheet" type="text/css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <style>

        body {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
        }

        tbody:before, tbody:after,
        thead:before, thead:after,
        tfoot:before, tfoot:after {
            display: none;
        }

        .invoiceTable {
            width: 100%;
            color: #000000;
        }

        .invoiceTable thead {

        }

        .invoiceTable tr {
            border: 1px solid #000000;
        }

        .invoiceTable th {
            padding: 5px;
            border: 1px solid #000000;
            text-align: center;
            background-color: lightgray;
            font-weight: bold;
        }

        .invoiceTable td {
            padding: 5px 10px;
            border: 1px solid #000000;
            text-align: center;
        }

        .tableFooter tr {
            border: none;
        }

        .tableFooter .sumLabel {
            border: none;
            text-align: right;
            font-weight: bold;
        }

        .tableFooter .sumValue {
        }

        td.spacer {
            border: none;
            background-color: transparent;
        }

        .invoiceFooter {
            text-align: right;
        }

        .invoiceFooter .invoiceAuthor {

        }

        .invoiceFooter .invoiceAuthor span {
        }

        .tableTitle {
            width: 100%;
            text-align: center;
        }

        .invoiceHeader {
            position: relative;
            display: inline-block;
        }

        .invoiceDataTitle {
            position: absolute;
            width: 120px;
            font-weight: bold;
            text-align: left;
        }

        .invoiceData {
            position: relative;
            left: 135px;
            width: 300px;
            text-align: left;
        }

        .invoiceDataTitle:before, .invoiceDataTitle:after {
            display: none;
        }

        .invoiceData:before, .invoiceData:after {
            display: none;
        }

        br:before, br:after {
            display: none;
        }



    </style>
</head>

<body>

<div class="container">

    <div class="container invoiceHeader">

        <div class="invoiceDataTitle">Постачальник</div>
        <div class="invoiceData">
            Приватне підприємство<br>
            „Компанія БУК”<br>
            ЄДРПОУ 38099617, тел. 032 2926174<br>
            Р/р 26009010390559 в ПАТ<br>
            "УКРСОЦБАНК" МФО 300023<br>
            Підприємство працює за спрощеною<br>
            системою оподаткування (IV група) - 5%<br>
            Адреса 79011, м. Львів, вул. Паркова, 16/1<br>
        </div>

        <div class="invoiceDataTitle">Одержувач</div>
        <div class="invoiceData">
            <%= $name %><br>
            <%= $phone %><br>
            <%= $email %><br>
        </div>

        <div class="invoiceDataTitle">Платник</div>
        <div class="invoiceData">
            <%= $name %><br>
        </div>

        <div class="invoiceDataTitle">Замовлення</div>
        <div class="invoiceData">
            замовлення (Дверні конструкції)<br>
        </div>

    </div>

    <br>
    <div class="tableTitle">
        Рахунок-фактура № БCФ-<%= $factureNumber %>
        <br>
        від <%= $currentDate %>
    </div>

    <br>
    <table class="invoiceTable">
        <thead>
        <tr>
            <th>№</th>
            <th>Артикул</th>
            <th>Назва</th>
            <th>Од.</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td><%= $doorType %> <%= $doorModel %> <%= $dHeightH %>*<%= $dWidthH %>мм</td>
            <td>шт.</td>
            <td><%= $doorAmount %></td>
            <td><%= $price %></td>
            <td><%= $sumPrice %></td>
        </tr>
        </tbody>


        <tfoot class="tableFooter">
        <tr>
            <td class="spacer"></td>
            <td class="spacer"></td>
            <td class="spacer"></td>
            <td class="spacer"></td>
            <td class="spacer"></td>
            <td class="sumLabel">Разом:</td>
            <td class="sumValue"><%= $sumPrice %></td>
        </tr>
        </tfoot>
    </table>

    <div class="totalInWords">
        Всього на суму:
        <br>
        <%= $sumInWords %>
    </div>

    <br>
    <br>
    <div class="invoiceFooter">
        <div class="invoiceAuthor">
            Виписав(ла):<span>&nbsp;Кузимків Віра Семенівна</span>
        </div>
        <br>
        <br>
        Рахунок дійсний до сплати до <%= $pastAWeek %>
    </div>

</div>

</body>
</html>