*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button,button:active,
button:focus {
    outline: none;
}
header{
    width: 100%;
    background-color: #e9e7e5;
}
header div a{
    font-family: "Open Sans Regular";
}
header >div{
    height: 100px;
   max-width: 980px;
    margin: 0px auto;
}
header > div a{
    display: inline-block;
}
header > div > a{
    float: left;
    display:inline-block;
    width: 190px;
    height: 75px;
    margin-top: 14px;
    margin-right: 8%;
}
header > div .header-buttons{
    float: left;
    display: inline-block;
    padding-top: 36px;
    margin-right: 4%;
}
header > div .mobile-nav {
    display: none;
    width: 40px;
    height: 40px;
    background: url("pictures/mobile_nav.png") no-repeat;
    background-size: 100%;
    margin-right: 10px;
    margin-top: 26px;
}
header > div .mobile-nav:hover {
    background-color: white;
    opacity: 0.5;
}
header > div .header-buttons a{
    margin-right: 18px;
    border: 1px solid #7b7b7b;
    width:28px;
    height: 28px;
    border-radius: 50%;
    background: url("pictures/sprite_buttons.png");
}
header > div .header-buttons a:nth-child(1){
   background-position: 2px 2px;
}
header > div .header-buttons a:nth-child(2){
    background-position: -31px 3px;
}
header > div .header-buttons a:nth-child(3){
     background-position: -65px 3px;
}
header > div .header-buttons a:nth-child(4){
      background-position: -103px 3px;
}

header > div .header-buttons a:focus{
    background-color: #4c75a3;
}
header > div .header-buttons a:nth-child(1):focus {
     background-position: 2px -32px;
}
header > div .header-buttons a:nth-child(2):focus {
    background-position: -29px -32px;
}
header > div .header-buttons a:nth-child(3):focus{
    background-position: -65px -29px;
}
header > div .header-buttons a:nth-child(4):focus{
    background-position: -103px -29px;
}
header > div .header-numbers{
    float: left;
    display: inline-block;
    margin-right: 4%;
    padding-top: 36px;
}
header >div .header-numbers span{
    display: block;
    font-family: "Open Sans Regular";
    font-size: 12px;
    color: #686868;
}
header > div .header-search{
    display: inline-block;
    float: left;
    padding-top: 36px;
}
header > div .header-search input{
    display: block;
    width: 235px;
    height: 30px;
}
/*header > div .header-search:after{
    content: "";
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    background: url(pictures/search-icon.png) no-repeat;
    background-position: 1px 2px;
    background-color: #eb5f07;
    border-radius: 50%;
    right: -206px;
    top: -27px;
}
*/
header > div .header-search:hover input{
    background-color: rgba(255, 210, 60, 0.33);
    color: black;
}
header > div .header-search .search-button{
    border: none;
    outline: none;
    position: relative;
    width:25px;
    height: 25px;
    border-radius: 50%;
    top: -27px;
    right: -205px;
    background: url("pictures/search-icon.png") no-repeat;
    background-color: orange;
    background-position: 1px 2px;
}
header > div .header-search .search-button:focus{
    background-color: lightblue;
}
header > div .header-language{
    display: inline-block;
    padding-top: 30px;
    float: right;
}
header > div .header-language a{
    display: block;
    color: #686868;
}
header nav{
    height: 50px;
    width: 100%;
    background-color: #7b7b7b;
}
header nav ul{
    max-width: 980px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
header nav ul li:hover{
    background-color: #4c75a3;
}
header nav ul li a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb( 255, 255, 255 );
}
header nav ul li a:hover{
    background-color: #eb5f07;
}
/* бургер меню*/
/*главное меню*/
 nav ul .main-li{
    position: relative;
}
 nav ul .main-li:hover ul{
    display: block;
}
 nav ul .main-li ul {
    display: none;
    width: 195px;
    height: 155px;
    position: absolute;
    background-color: #dad8d2;
}
 nav ul .main-li  ul a{
    height: 39px;
    line-height: 39px;
    display: block;
    padding-left: 20px;
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb( 86, 86, 85 );
}
 nav ul .main-li ul a:hover{
    background-color: #228dcd;
    color: white;
}
header nav ul .main-li ul li{
    display: block;
}
/*меню круглых ссылок*/
main nav ul .main-li ul {
    display: none;
    right: -60px;
    height: 117px;
    width:195px;
    left: -53px;
    top: 135px;
}
main nav ul .main-li ul:after{
    content: '';
    display: block;
    position: relative;
    border: 20px solid transparent;	border-bottom: 20px solid #dbd9d3;
    width: 0px;
    height: 0px;
    right: -85px;
    bottom: 157px;
}
main nav ul .main-li ul li a{
    width: 175px;
    box-shadow: none;
}
main nav ul .main-li ul li a{
    background: none;
    border-radius: 0%;
    border: none;
    box-shadow: none;
}
div.banner a{
    width:100%;
    display: block;
    margin: 0px auto;
    overflow: hidden;
    background: url("pictures/banner_background.jpg") no-repeat;
    background-size: 100%;
    z-index: 1000;
}
div .banner a img{
    display: block;
    max-width: 980px;
    width:  90%;
    height: 100%;
    margin: 0px auto;
    z-index: 1000;
}
header nav{
    margin-bottom:2px;
    width: auto;
}

main{
    max-width: 980px;
    margin: 0px auto;
}
main nav{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 7%;
    padding-left: 7%;
}
main nav ul{
    display: flex;
    justify-content: space-between;
}
main nav ul li{
    display: inline-block;
    margin: 0px auto;
}
main nav ul li a{
    box-shadow: inset 4px -26px 92px -14px rgba(156, 156, 156, 0.75);
    display: block;
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-image: url("pictures/calculate_sprites.png");
    margin: 0px auto;
}
main nav ul li a:hover{
    box-shadow: none;
    background-color: green;
    opacity: 0.5;

}
main nav ul li:nth-child(1) a{
    background-position: 17px 12px;
}
main nav ul li:nth-child(2) a{
    background-position: -67px 8px;
}
main nav ul li:nth-child(3) a{
    background-position: -159px 12px;
}
main nav ul li:nth-child(4) a{
    background-position: -274px 9px;
}
main nav ul li a:focus{
    background-color: #72c3ee;
}
main nav ul li:nth-child(1) a:focus{
    background-position: 17px -125px;
}
main nav ul li:nth-child(2) a:focus{
    background-position: -67px -125px;
}
main nav ul li:nth-child(3) a:focus{
    background-position: -159px -125px;
}
main nav ul li:nth-child(4) a:focus{
    background-position: -274px -125px;
}
main nav ul li span{
    width: 100%;
    display: block;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 104, 104, 104 );
    text-transform: uppercase;
    margin: 0px auto;
    text-align: center;
}
main > div {
    max-width: 980px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main > div a{
    display: block;
    text-align: center;
    width: 32%;
    border: 1px solid #e4e4e3;
    line-height: 55px;
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb( 104, 104, 104 );
    text-transform: uppercase;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.44);
}
main > div a:hover{
    background-color: #eb5f07;
    color: white;
}
main > div a img{
    display: block;
    width: 100%;
}
main > span{
    display: block;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 104, 104, 104 );
    margin-top: 15px;
    margin-bottom: 30px;
}
footer{
    background-color: #6c6c6c;
}
footer div div,
footer div nav{
    display: inline-block;
    width: 25%;
    height: 110px;
}
footer > div{
    padding-top: 40px;
    height: 150px;
    max-width: 980px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
footer > div div,
footer > div nav a{
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 197, 197, 197 );
    line-height: 1.25;
    text-align: left;
}
footer > div nav{
    padding: 0px 4%;
    border-left: 1px solid #535353;
    border-right: 1px solid #535353;
}
footer address{
    text-align: center;
    display: block;
    height: 33px;
    background-color:#e7e7e3;
    line-height: 33px;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 59, 59, 59 );
    font-style: normal;
}

/*index_contacts*/
.container .wrapper{
    background-color: #f5f5f4;
}
.answr span{
    display: block;
    max-width: 980px;
    margin: 0px auto;
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb( 86, 86, 85 );
    line-height: 2.55;
    text-align: left;
}
.contact-group div.contact{
    display: flex;
}
.contact-group div.contacts address,
.contact-group div.contacts img{
    display: inline-block;
}
.contact-group div.contacts address{
    width:30%;
}
.contact-group div.contacts img{
    width:67%;
    box-shadow: 0px 10px 28px -11px rgba(1,1,1,0.3);
}
.contact-group div.contacts address span{
    display: block;
    padding: 25px 0px;
    font-size: 15px;
    font-style: normal;
    font-family: "Open Sans";
    color: rgb( 86, 86, 85 );
    line-height: 2.133;
    text-align: left;
}
.contact-group div.contacts address span:nth-child(2){
    width:150px;
}
/* index_contacts_form*/
.contact-group form {
    border-top: 1px dashed rgba(1, 1, 1, 0.48);
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px 6%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-group form > div{
    margin-bottom: 15px;
    height: 55px;
    width:48%;
}
.contact-group form > div:nth-child(6){
    height: 95px;
}
.contact-group form > div:nth-child(7){
    position: relative;
    top:-40px;
    left: -145px;
}
.contact-group form > div label {
    width: 280px;
    margin: 0px auto;
    display: block;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 103, 103, 103 );

}
.contact-group form > div input{
    display: block;
    width: 280px;
    height: 35px;
    margin: 0px auto;

}
.contact-group form > div input::-webkit-input-placeholder{
    text-align: right;
    padding-right: 10px;
    opacity: 0.5;
    font-size: 11px;
}
.contact-group form textarea{
    display: block;
    margin: 0px auto;
    width: 280px;
    height: 105px;
    resize: none;
}
.contact-group form textarea::-webkit-input-placeholder{
    text-align: right;
    padding-right: 10px;
    padding-top: 80px;
    font-size: 11px;
    opacity: 0.5;
}
.contact-group form [type="submit"]{
    position: relative;
    width: 125px;
    height: 35px;
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb( 103, 103, 103 );
    top: 40px;
    left: 78px;
}
@media screen and (max-width: 980px){
    header > div .header-search{
        display: none;
    }
    main{
        width: 90%;
    }
    header > div .header-language{
        padding-right: 4%;
    }
    header > div > a{
        margin-left: 4%;
        margin-right: 8%;
    }
    footer div{
        padding-left:30px;
        padding-right: 30px;
    }

    /*index_contacts*/
    .answr{
        width: 90%;
        margin: 0px auto;
    }
    .contact-group div.contacts{
        flex-direction: column-reverse;
    }
    .contact-group div.contacts img{
        width: 100%;
        height: 45vw;
    }
    .contact-group div.contacts address{
        width: 100%;
        margin: 0px auto;
    }
    .contact-group div.contacts address span{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .contact-group form > div:nth-child(7){
        padding-right: 1.5%;
        top:-40px;
        left: -14%;
    }
    .contact-group form [type="submit"]{
        left: 75px;
    }
}
@media screen and (max-width: 786px) {
    /*index_contacts*/
    .contact-group form > div{
        width: 100%;
    }
    .contact-group form > div:nth-child(7){
        left:5px;
        top:25px;
    }
    .contact-group form > div input,
    .contact-group form > div textarea,
    .contact-group form > div label{
        width: 65%;
        min-width:200px;
    }
    .contact-group form [type="submit"]{
        left:0px;
        align-self: center;
        margin: 0px auto;
        min-width: 200px;
    }
}
@media (min-width: 500px) and ( max-width: 786px){
    header nav ul li:nth-child(5){
        display: none;
    }
    header > div .header-buttons {
        display: none;
    }
    header > div > a{
        margin-right: 20%;
    }
    main  > nav{
        padding-left: 0px;
        padding-right: 0px;
    }
    main > nav > ul {
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    main > nav > ul > li{
        margin-bottom: 2%;
        margin-top: 2%;
        width: 45%;
    }
    main nav ul .main-li:hover ul {
        display: none;
    }
    main > div a{
       width: 49%;
    }

}
@media  (max-width:568px) {
    header{
        margin-bottom: 10px;
    }
    header > nav{
        display: none;
    }
    header > div .mobile-nav{
        display: inline-block;
        float: right;
    }
    header > div .header-language{
        float: none;
    }
    header > div .header-buttons{
        display: none;
    }
    header > div .header-numbers{
        display: none;
    }
    header > div > a,
    header > div > a img{
        min-width:100px;
        width: 35vw;
        height: 80%;
    }
    header > div > a{
        margin-top: 20px;
        margin-right: 14%;
    }
    footer > div div:last-child,
    footer > div nav{
        display: none;
    }
    footer > div div{
        width: 100%;
        margin: 0px auto;
    }
    footer > div{
        height: auto;
        padding: 5% 1%;
    }
    footer address{
        display: none;
    }
    main > div{
        justify-content: center;
    }
    main > div a{
        width: 100%;
    }
    div.banner a {
        display: none;
    }
    main > nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    main > nav ul li:nth-child(3),
    main > nav ul li:nth-child(4){
        display: none;
    }
    main > nav ul li{
        width: 100%;
        margin-bottom: 30px;
    }
    main > nav ul li a{
        margin-bottom: 5px;
    }
    main > nav{
        padding-bottom: 0px;
    }
    main nav ul .main-li:hover ul{
        display: none;
    }
}
