
<form class="form" enctype="multipart/form-data" action="#" method="post">
    <?php echo $inputs ?>
    <div class="form-group row">
        <div class="col-3">

        </div><div class="col-xl-6 col-lg-6 col-md-5 col-sm-12">
            <button id="checkLogin" class="btn btn-lg btn-primary btn-block  text-center" type="submit">Створити оголошення</button>
        </div><div class="col-3">

        </div>
    </div>
</form>



<script src="/scripts/main/input.js"></script>