<div class="menu">
    <div class="row simple-office">
        <div class="col-sm text-right">
           <a href="http://carbuy/simpleUser/userAdverts?page=1"> Мої оголошення </a>
        </div>
        <div class="col-sm text-left">
            <a href="http://carbuy/simpleUser/createAdvert">Створити оголошення</a>
        </div>
    </div>
</div>
<div class="container">
    <?php if(isset($Content)) echo $Content ?>
</div>