.doortree{
	width: 25%;
	display: block;
	float: left;
}

.doortree img{
	margin: 0 auto;
	max-height: 200px;
	height: 175px;
	max-width: 100%
}

.selectTree h3{
	margin: 10px 0 15% 0;
}

.doortype{
	width: 50%;
	display: block;
	float: left;
}

.doortype img{
	margin: 0 auto;
	max-height: 250px;
}

.selecttype h3{
	margin: 10px 0 12% 0;
}

.selecttype span{
	margin-top: 50px;
}

.innermodel, .outsidemodel{
	width: 95%;
	height: 450px;
	margin: 0 auto;
	overflow: auto;
}

.selectinnermodel h3, .selectoutsidemodel h3{
	margin-bottom: 25px;
}

.doormodel{
	width: 20%;
	display: block;
	float: left;
	margin-bottom: 15px;
}

.doormodel input{
	display: none;
}

.doormodel img{
	margin: 0 auto;
	width: 75%;
	max-width: 99px;
}

.doormodel span{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.sizes label {
	margin-bottom: 15px;
	display: block;
	font-weight: normal;
	font-size: 14px;
}

.centerimage span{
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
}

.bottomalign label, .rightalignwrap label{
	margin: 0;
	margin-bottom: 10px;
}

.bottomalign input, .rightalignwrap input{
	outline: none;
	border: none;
	border-bottom: 1px solid #aaa;
	font-size: 18px;
	text-align: center;
}

.leftalignwrap{
	margin-top: 0;
}

.leftalign{
	position: relative;
}

.leftalign label{
	padding-top: 150px;
}

.options h3{
	margin: 10px 0 40px 0;
}

.options .optionsimage{
	margin: 90px 20% 0 10%;
}

.xls{
	color: #129A00;
	text-decoration: underline;
	cursor: pointer;
}

#colors{
	z-index: 18;
	height: 20px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	margin-bottom: 120px;
	position: absolute;
	top: 0;
	left: 0;
	
}

#colors input{
	display: none;
}

#colors label{
	width: 100%;
	height: 20px;
	margin: 5px 0;
	border-radius: 7px;
	padding: 0;
}

.selectcolor{
	background: #969992;
	width: 100%;
	height: 20px;
	border-radius: 7px;
}

.transdoor{background: #969992;}

#kolvo{
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
}



@media only screen and (max-width : 800px) {
	.innermodel, .outsidemodel {
	width: 95%;
	height: 300px;
	margin: 0 auto;
	overflow: auto;
	}

	.options .check {
	margin: 10px 0;
	}
}

@media only screen and (max-width : 950px)  {
	fieldset h3{
		margin-bottom: 60px !important;
	}

	.innermodel, .outsidemodel{
		height: 280px;
	}

	.centerimage img{
		max-height: 180px;
	}

	.options .optionsimage{
		margin-top: 25px;
	}

	.options .check{
		margin: 12px 0;
	}

	.options2 h3{
		margin-bottom: 25px !important;
	}

	.options3 .center {
	    margin-top: 50px;
	}

	.options3 p {
	    margin-top: 40px;
	}
}

