/**
 * Design Shack Respnsive Menu
 */


* {
	padding: 0;
	margin: 0;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#mainnav {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;	
}

#mainnav ul {
	list-style: none;
	overflow: hidden;
}

#mainnav ul li {
	border-right: 1px solid #fff;
	color: #fff;
	display: block;
	float: left;
	padding: 10px;
	text-align: center;
	width: 9.28571428571429%;
	margin: 10px 2.5%;
	font: 400 20px/1 Helvetica, Verdana, Arial, sans-serif;
	/*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
}

/*HOVER*/
#mainnav li:hover {
	outline: 1px solid #eee;
	box-shadow: 0px 0px 10px #aaa;
}

/*SMALL*/
#mainnav small {
	font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
	color: #aaa;
}

/*BORDER FIX*/
#mainnav li:last-child {
	border: none;
}


/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
	#mainnav nav li {
		font: 400 10px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	#mainnav small {
		font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
	}
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
	#mainnav nav li {
		width: 25%;
		border-bottom: 1px solid #fff;
		font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	#mainnav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	
	#mainnav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
	#mainnav li {
		width: 50%;
		font: 400 12px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	#mainnav li:nth-child(even) {
		border-right: none;
	}
	
	#mainnav li:nth-child(5), nav li:nth-child(6) {
		border-bottom: 1px solid #fff;
	}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	#mainnav nav li {
		font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
}