* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

html {
    background: #fff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

@font-face {
    font-family: Calibri; /* Имя шрифта */
    src: url(../fonts/calibri.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: CalibriL; /* Имя шрифта */
    src: url(../fonts/calibril.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaLT; /* Имя шрифта */
    src: url(../fonts/HelveticaNeue-Light.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: FuturaL; /* Имя шрифта */
    src: url(../fonts/FuturaLight.ttf); /* Путь к файлу со шрифтом */
}

.clear {
    clear: both;
}

#wrapper {
    min-width: 320px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.2%;
    background: #ccc;
    z-index: 1;

}

.mainpage {
    display: block;
    background: #fff;
    position: relative;
}

.mainlang {
    position: absolute;
    top: 20px;
    left: 180px;
    font-size: 14px;
    height: 24px;
    overflow: hidden;
    padding: 5px 5px 5px 35px;
}

.mainlang p {
    cursor: pointer;
    position: relative;
}

.mainlang p:before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 17px;
    left: -28px;
    top: 1px;
}
.mainlang p.ua:before {
    background: url('../images/flag-ua.png') no-repeat;
}
.mainlang p.de:before {
    background: url('../images/flag-de.png') no-repeat;
}
.mainlang p.en:before {
    background: url('../images/flag-en.png') no-repeat;
}
.mainlang p.ru:before {
    background: url('../images/flag-ru.png') no-repeat;
}

.mainlang .currentlang {
    display: block;
    cursor: default;
}

.currentlang:after {
    background: url(../images/icons/down_arrow.png) no-repeat;
    background-size: 100%;
    margin-left: 7px;
    height: 19px;
    width: 19px;
    display: inline-block;
    content: "";
    float: right;
    cursor: pointer;
}

.currentlang.expanded:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#mainsocial {
    position: absolute;
    right: 180px;
    top: 20px;
}

#mainsocial a {
    display: inline-block;
}

#mainsocial img {
    display: block;
    float: left;
    height: 25px;
    margin: 0 5px;
    width: auto;
}

#mainsocial img:hover {
    background: #7db0fd;
}

.sitename {
    width: 100%;
    padding: 30% 0 20%;
    display: table;
    text-align: center;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.logo img {
    display: inline-block;
    width: 200px;
    margin-top: -55px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
    font-size: 86px;
    font-family: sans-serif;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

/*mainpage nav*/

#mainnav ul li img {
    width: auto;
    max-width: 100%;
    height: 54px;
    margin: 0 auto;
    display: block;
}

#mainnav p {
    margin: 10px 0;
    font-family: HelveticaLT;
    font-size: 18px;
}

@media only screen and (max-width: 641px) {
    #mainnav {
        display: none;
    }
}

.mainstairs {
    width: 100% !important;
    height: 54px;
}

/*navigation*/

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 40em) {
    .js #menu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }
}

#menu {
    width: 100%;
    background: #fff;
    box-shadow: 0px 3px 6px #777;
    z-index: 10;
    overflow: visible;
    height: 75px;
    font-family: HelveticaLT;
    font-size: 20px;
}

#menu li {
    background: #fff;
    display: block;
    float: left;
    width: 8.08571428571429%;
    text-align: center;
    padding-top: 10px;
    /*padding-bottom: 20px;*/
    height: 60px;
    overflow: hidden;
    margin: 0 2px;
    position: relative;
}

/*.language:hover{*/
/*height: 88px;*/
/*outline: 1px solid #eee;*/
/*box-shadow: 0px 3px 6px #777;*/
/*background: #fff;*/
/*}*/

#menu li:hover {
    height: 110px;
    outline: 1px solid #eee;
    box-shadow: 0px 3px 6px #777;
}

#menu .active {
    height: 110px;
    outline: 1px solid #eee;
    box-shadow: 0px 3px 6px #777;
}

#menu li:focus {
    height: 88px;
    outline: 1px solid #eee;
    box-shadow: 0px 0px 10px #aaa;
}

#menu li > a {
    display: block;
    height: 100%;
}

#menu li > a > p {
    height: 48px;
    line-height: 48px;
}

#menu li > a > p > span {
    display: inline-block;
    line-height: 24px;
}

#menu .small-logo {
    width: 13%;
    height: 37px;
    padding: 1.5em 0;
    margin-left: 5px;
}

#menu .small-logo p {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif, FuturaL;
}

#menu .small-logo:hover {
    outline: 1px solid #eee;
    box-shadow: 0px 3px 6px #777;
}

#menu .small-logo img {
    display: block;
    width: auto;
    max-height: 37px;
    margin-top: -10px;
}

/*#menu .language{*/
/*width: 9%;*/
/*min-width: 97px;*/
/*overflow: hidden;*/
/*font-size: 0.8em;*/
/*background: none;*/
/*font-size: 13px;*/
/*background: #fff;*/
/*margin-left: 5px;*/
/*padding-left: 3px;*/
/*}*/

/*#menu .language img{*/
/*margin-top: 0;*/
/*}*/

/*#menu .lang{*/
/*margin-top: 1.5em;*/
/*text-align: left;*/
/*cursor: default;*/
/*height: 19px;*/
/*overflow: hidden;*/
/*-webkit-transition: height 0.2s ease;*/
/*}*/

#menu .language:hover {
    height: 60px;
    outline: none;
    box-shadow: none;
}

#menu .language:focus {
    height: 60px;
    outline: none;
    box-shadow: none;
}

#menu .language {
    overflow: visible;
    padding: 0;
    width: auto;
    height: 100%;
}

#menu .mainlang {
    position: relative;
    left: 0;
    background-color: #fff;
}

#menu .mainlang p {
    left: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 14px;
    text-align: left;
}

/*#menu .mainlang img{*/
/*max-width: 18px;*/
/*width: 100%;*/
/*margin-left: 5px;*/
/*height: auto;*/
/*float: right;*/
/*}*/

.en, .ru, .de {
    cursor: pointer;
}

/*#menu .uatext{*/
/*float: left;*/
/*}*/

/*#menu .uaimg{*/
/*width: 20%;*/
/*float: right;*/
/*margin-right: 10px;*/
/*}*/

/*#menu .mainlang a{*/
/*}*/

/*#menu .language:hover {*/
/*height: auto;*/
/*}*/

/*#menu .language:hover .lang{*/
/*height: auto;*/
/*}*/

.none {
    display: none;
}

#menu li img {
    width: auto;
    max-height: 34px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#menu p {
    margin: 7px 0;
    font-size: 20px;
}

#menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*page*/

.page {
    width: 100%;
    margin-top: 85px;
    padding-bottom: 20px;
    background: #fff;
    position: relative;
}

.photo {
    width: 28%;
    margin: 25px 1% 0;
    float: left;
}

.photo img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.windowphoto {
    height: auto !important;
    margin: 0 auto !important;
    display: block !important;
    width: 100% !important;
}

.doorphoto {
    width: 70% !important;
    display: block !important;
    margin: 0 auto !important;
    height: auto !important;
}

.furniturephoto {
    height: auto !important;
    margin: 0 auto !important;
    display: block !important;
    width: 100% !important;
    margin-top: 30% !important;
}

.text {
    width: 58%;
    margin: 0;
    float: left;
    font-family: CalibriL, sans-serif;
    font-size: 24px;
}

.h2container {
    width: 100%;
}

.page h2 {
    width: 70%;
    float: right;
    font-size: 28px;
    margin: 0px 0 0px;
    padding-top: 30px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}

.text p {
    display: block;
    line-height: 1.3em;
    text-indent: 20px;
    font-weight: 400;
}

.text img {
    width: 100%;
}

.text h2 {
    width: 100%;
    float: none;
    font-size: 28px;
}

#contacts {
    margin-top: 25px;
    /*padding-top: 30px;*/
    width: 35%;
    float: left;
    font-size: 1.3em;
}

#contacts h2 {
    /*margin: 0 0 20px 0;*/
    width: 100%;
    float: none;
}

.contactright {
    text-align: center;
    /*float: right;*/
    padding: 0 10px;
    /*width: 65%;*/
}

.contactright a {
    display: inline-block;
}

.contactright img {
    display: block;
    float: left !important;
    width: auto !important;
    /*max-width: 12%;*/
    margin: 0 5px 0 !important;
    max-height: 30px;
}

.contactright img:hover {
    background: #7db0fd;
}

.contactright a img {
    display: inline;
}

.contimg {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#vacancy h2 {
    /*margin-top: 25px;*/
}

#vacancy img {
    margin-top: 50px;
}

#vacancy p a {
    text-decoration: underline;
}

#contacts img {
    width: 20%;
    /*margin: 100px 0 0 45px;*/
}

#contacts p {
    font-size: 17px;
    word-wrap: break-word;
}

#adress {
    display: block;
    margin-top: 70px;
}

#map {
    float: right;
    margin-top: 25px;
    padding: 0 1%;
    width: 65%;
    text-align: center;
}

#map h2 {
    float: none;
    width: 100%;
}

#map iframe {
    display: block;
    width: 90%;
    height: 500px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    box-shadow: 0px 0px 15px #666;
}

#aboutpage {
    font-size: 1.2em;
    background: url(../images/about_bg.png), #fff;
    -webkit-background-size: cover;
    background-size: cover;
}

#aboutpage h2 {
    margin-bottom: 30px;
    width: 100%;
    float: none;
}

#about {
    width: 70%;
    float: right;
}

#catalogpage {
    margin-bottom: 20px;
}

#catalogpage object {
    width: 100%;
    height: 700px;
}

.calcbutton {
    float: left;
    width: 10%;
    height: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

.valign {
    margin: 16em 0;
    cursor: pointer;
}

.valign p {
    margin-top: 10px;
}

.calcbutton p {
    margin-top: 10px;
}

.calcbutton img {
    width: 60%;

}

#pogonazh img {
    margin-bottom: 50px;
}

.calcbutton img {
    margin: 0 !important;
}

/*calculator*/

#windowcalc {
    position: absolute;
    right: 0px;
    width: 71%;
    min-width: 500px;
    height: 90%;
    max-height: 550px;
    background: #fff;
    z-index: 5;
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 3px 5px #777;
    display: none;
    text-align: center;
    font-family: Calibri;
}

.selectmodel, .selecttype, .selectinnermodel, .selectoutsidemodel, .sizes, .options, .options2, .options3 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.options2 h3 {
    margin-bottom: 45px;
}

.options2 span {
    margin: 45px 0;
    display: block;
    font-size: 21px;
}

#result {
    color: #999;
}

.options2 input {
    padding: 0;
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 18px;
}

.options2 .contactback {
    margin: 45px 0;
    display: block;
    float: none;
}

.selectTree {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.backbutton {
    display: block;
    width: 35px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}

.nextbutton {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.nextbutton span {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    float: left;
}

img.nextbutton {
    display: block;
    width: 35px;
    height: auto;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.nextbutton img {
    display: block;
    width: 35px;
    height: auto;
}

.feedbackbutton {
    margin-top: 100px;
    cursor: pointer;
}

.feedbackbutton img {
    width: 20px;
    height: auto;
    display: inline-block;
    margin-left: 15px;
}

.feedbackbutton span {
    display: inline-block;
    margin: 0;
    line-height: 16px;
}

fieldset h3 {
    margin: 10px 0 10% 0;
    text-align: center;
    font-weight: normal;
    font-size: 21px;
}

fieldset {
    position: relative;
    width: 100%;
    height: 100%;
}

fieldset img {
    display: block;
    height: 200px;
}

input[type="radio"] {
    display: none;
}

input:focus {
    outline: none;
}

label {
    font-weight: bold;
    display: block;
    cursor: pointer;
}

label span {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    display: block;
}

.selectTree .type {
    width: 33%;
    margin: 0 0%;
}

.selectTree .type img {
    margin: 0 auto;
}

.type {
    width: 33%;
    display: block;
    float: left;
}

.selectmodel label img {
    height: 200px;
    max-width: 80%;
    margin: 0 auto;
}

.selectmodel span {
    font-size: 16px;
}

.sizes label {
    margin-bottom: 15px;
}

.center {
    margin: 0 auto;
    display: inline-block;
}

.leftalign {
    margin-top: 15%;
}

.leftalignwrap {
    min-width: 95px;
    float: left;
    margin-top: 10%;
}

.rightalign {
    margin-top: 15%;
}

.rightalignwrap {
    min-width: 95px;
    float: left;
    margin-top: 10%;
}

.centerimage {
    min-width: 300px;
    display: block;
    float: left;
    margin: 0;
    max-width: 500px;
}

.bottomalign {

}

.bottomalign select {
    min-width: 55px;
}

.centerimage img {
    margin: 0 auto;
    display: block;
    height: auto;
    max-height: 300px;
}

.options input {
    display: none;
    float: none;
}

.options label {
    display: inline-block;
    float: none;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
}

.options label:after {
    background: url(../images/cb-unchkd.png) no-repeat;
    background-size: 100%;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    display: inline-block;
    content: "";
    float: right;
}

.options input:checked + label:after {
    background: url(../images/cb-chkd.png) no-repeat;
    background-size: 100%;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    display: inline-block;
    content: "";
    float: right;
}

.options label span {
    display: block;
    float: left;
    margin-top: 8px;
}

.options img {
    float: left;
}

.optionsimage {
    margin: 35px 20% 0 10%;
}

.options .check {
    display: block;
    float: none;
    margin: 32px 0;

}

.optionscheck {
    float: left;
}

#result {
    background: #fff;
    border: none !important;
    margin: 0 auto;
    text-align: center;
}

.options3 .center {
    margin-top: 80px;
    margin-left: 40px;
}

.options3 p {
    font-size: 24px;
    margin-top: 70px;
    font-family: Calibri;

}

.clear {
    clear: both;
    margin: 0 !important;
}

#windowcalc a {
    display: block;
    text-decoration: none;
    color: #000;
}

.closecalc {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 30px;
    height: auto;
}

#fbpage {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    width: 70%;
    height: 100%;
    margin-top: 15px;
}

#kolvo {
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    text-align: center;
    font-size: 18px;
}

#windowmain {
    width: 96%;
    padding: 2%;
}

#windowheader {
    text-align: center;
    border-bottom: solid 1px #b2b3b5;
    margin: 0 0 20px 0;
}

fieldset {
    border: none;
    display: table;
}

legend {
    font-size: 18px;
    margin: 0px;
    padding: 10px 0px;
    color: #000;
}

.prev, .next {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

.prev img, .next img {
    width: 40px;
    height: auto;
}

.prev:hover, .next:hover {
    text-decoration: none;
}

.prev {
    float: left;
}

.next {
    float: right;
}

#steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#steps li {
    font-size: 24px;
    float: left;
    padding: 10px;
    color: #b0b1b3;
}

#steps li span {
    font-size: 11px;
    display: block;
}

#steps li.current {
    color: #000;
}

#makeWizard {
    background-color: #b0232a;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}

#makeWizard:hover {
    background-color: #000;
}

/*media query*/

@media only screen and (max-width: 1040px) {
    #menu p {
        font-size: 14px
    }

    #mainnav p {
        margin: 10px 0;
        font-family: HelveticaLT;
        font-size: 14px;
    }

    #contacts p {
        font-size: 14px;
    }

    #aboutpage {
        background: #fff;
    }
}

@media only screen and (min-width: 551px) {
    #windowcalc {
        position: absolute;
        right: 0px;
        top: 5%;
        width: 71%;
        min-width: 500px;
        height: 90%;
        max-height: 550px;
        background: #fff;
        z-index: 5;
        border-bottom: 1px solid #aaa;
        box-shadow: 0px 3px 5px #777;
        display: none;
        text-align: center;
        font-family: Calibri;
    }
}

@media only screen and (max-width: 950px) and (min-width: 801px) {
    #windowcalc {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 400px;
    }

    fieldset h3 {
        margin-bottom: 40px;
    }

    .options2 .center span {
        margin: 25px 0;
        display: block;
        font-size: 21px;
    }

    .options2 h3 {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 700px) {
    #contacts {
        width: 100%;
        float: none;
    }

    #adress {
        display: block;
        /* margin-top: 70px; */
        margin: 0 auto;
        width: 83%;
    }

    #contactright a {
        display: block;
        float: left;
    }

    .contimg {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .contimg img {
        margin: 0;
        width: 80px;
    }

    #vacancy {
        width: 83%;
        margin: 0 auto;
    }

    #contacts h2 {
        padding-top: 10px;
        text-align: center;
    }

    #map h2 {
        text-align: center;
    }

    #map {
        width: 100%;
        float: right;
        padding: 0 1%;
        margin: 0 auto;
    }

    #map iframe {
        width: 100%;
        height: 450px;
        border: none;
        margin-right: 0;
        margin-top: 35px;
        box-shadow: 0px 0px 15px #666;
    }

}

@media only screen and (max-width: 800px) and (min-width: 551px) {
    .html {
        font-size: 14px;
    }

    .mainlang {
        top: 20px;
        left: 50px;
    }

    #mainsocial {
        top: 20px;
        right: 50px;
    }

    .mainpage {
        height: 98vh;
    }

    .mainpage h1 {
        font-size: 38px;
    }

    .logo {
        display: block;
    }

    .sitename {
        padding: 20% 0 10%;
    }

    #menu .small-logo p {
        font-size: 12px;
    }

    #mainnav p {
        font-size: 14px;
    }

    .page {
        position: relative;
    }

    .photo {
        float: left;
        display: block;
        width: 25%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .text {
        float: left;
        display: block;
        width: 55%;
        margin: 0 auto;
        margin-left: 15px;
        text-align: justify;
    }

    .text p {
        font-size: 17px;
    }

    .calcbutton {
        float: left;
        display: block;
        width: 15%;
        margin-left: 10px;
    }

    .calcbutton p {
        font-size: 1em;
    }

    .valign {
        margin: 10px 0;
        cursor: pointer;
    }

    #aboutpage {
        background: #fff;
    }

    #windowcalc {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 400px;
    }

    #about {
        float: none;
        width: 90%;
        margin: 0 auto;
    }

    #contacts p {
        font-size: 18px;
    }

    .contactright {
        float: right;
        padding: 0 10px;
        width: 100%;
    }

    #contacts img {
        /*margin: 20px 0 0 45px;*/
    }

    #vacancy h2 {
        margin-top: 25px;
        padding-top: 0px;
    }

    #vacancy img {
        margin-top: 20px;
    }

    #menu p {
        font-size: 12px;
    }

    .bx-wrapper .bx-pager {
        padding-bottom: 45px;
    }

    .options2 input {
        padding: 0;
        border: none;
        border-bottom: 2px solid #aaa;
        font-size: 16px;
    }

    .options2 .contactback {
        margin: 25px 0;
        display: block;
        float: none;
    }

    .options2 span {
        margin: 25px 0;
        display: block;
        font-size: 21px;
    }

    .options2 h3 {
        margin-bottom: 25px;
    }

    .nextbutton span {
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        margin-top: 3px;
        float: left;
        font-size: 19px;
    }

    fieldset h3 {
        margin-bottom: 40px;
    }

}

/*
	When slicknav appears.
*/
@media only screen and (max-width: 640px) {
    .currentlang:after {
        background: none;
        margin-left: 0;
        height: 0;
        width: 0;
        content: "";
        float: right;
        cursor: pointer;
    }

    .currentlang {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 550px) {
    .html {
        font-size: 14px;
    }

    .mainlang, #mainsocial {
        display: none;
    }

    .mainpage {
        height: 98vh;
        display: block;
    }

    .sitename {
        display: block;
    }

    .logo {
        padding-top: 100px;
    }

    .logo img {
        display: inline-block;
        width: 40%;
        margin-top: -48px;
    }

    .mainpage h1 {
        font-size: 28px;
    }

    .page {
        position: relative;
    }

    .page h2 {
        width: 100%;
        text-align: center;
        font-size: 28px;
        margin: 0px 0 0px;
        padding-top: 30px;
        font-family: Calibri, sans-serif;
        font-weight: bold;
    }

    .photo {
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .text {
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-left: 15px;
        text-align: justify;
        font-size: 14px;
    }

    .calcbutton {
        float: none;
        display: block;
        width: 40%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .calcbutton p {
        font-size: 14px;
    }

    .valign {
        margin: 10px 0;
        cursor: pointer;
    }

    #windowcalc {
        position: absolute;
        bottom: 0px !important;
        left: 0px;
        width: 100%;
        height: 400px;
        min-width: 320px;
    }

    #doorpage .centerimage img {
        display: block;
        height: 170px !important;
        width: auto !important;
    }

    .centerimage {
        min-width: 150px;
    }

    .leftalignwrap {
        min-width: 10px;
    }

    .rightalignwrap {
        min-width: 10px;
    }

    .selectTree .type img {
        max-height: 100px;
    }

    .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: bold;
        color: #666;
        padding-bottom: 30px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .options2 h3 {
        margin-bottom: 25px;
    }

    .options2 span {
        margin: 25px 0;
        display: block;
        font-size: 21px;
    }

    .options2 input {
        padding: 0;
        border: none;
        border-bottom: 2px solid #aaa;
        font-size: 14px;
    }

    .options2 .contactback {
        margin: 25px 0;
        display: block;
        float: none;
    }

    .options3 .center img {
        height: 150px;
    }

    #result {
        font-size: 18px;
    }

    #about {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    #aboutpage h2 {
        padding-top: 10px;
    }

    .nextbutton span {
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        float: left;
        font-size: 18px;
        margin-top: 3px;
    }

    .optionsimage {
        display: none;
    }

    .optionscheck {
        margin-left: 27%;
    }

    .doortree img {
        height: 100px !important;
    }

    .doortype img {
        max-height: 75px !important;
    }

    .options3 .center {
        margin-left: 0;
    }

    .selectmodel label img {
        height: 125px !important;
    }

    .selectmodel ul li {
        margin-top: 25px !important;
    }

    .doormodel img {
        height: 115px !important;
    }

    #windowpage .centerimage img {
        max-height: 95px !important;
    }

    .leftalignwrap, .rightalignwrap {
        margin-top: 4% !important;
    }

    .contactright {
        width: 100%;
    }

    #contacts {
        width: 100%;
        float: none;
    }

    #adress {
        display: block;
        /* margin-top: 70px; */
        margin: 0 auto;
        width: 83%;
    }

    /*#vacancy img {*/
    /*margin: 0;*/
    /*margin-left: 40% !important;*/
    /*margin-top: 20px !important;*/
    /*width: 80px;*/
    /*}*/
    .contactright img {
        display: block;
        float: left !important;
        width: auto !important;
        /*max-width: 12%;*/
        margin: 0 5px 0 !important;
        max-height: 30px;
    }

    #vacancy {
        width: 83%;
        margin: 0 auto;
    }

    #vacancy img {
        margin-top: 20px;
    }

    #contacts h2 {
        padding-top: 10px;
        text-align: center;
    }

    #map h2 {
        text-align: center;
    }

    #map {
        width: 100%;
        float: right;
        padding: 0 1%;
        margin: 0 auto;
    }

    #map iframe {
        width: 80%;
        margin: 0 auto;
        height: 300px;
        border: none;
        /* margin-right: 10%; */
        margin-top: 35px;
        box-shadow: 0px 0px 15px #666;
    }

}


