@font-face {
    font-family: "Gotham Pro Light";
    src: url("fonts/GothamProLight.ttf");
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamProBold.ttf");
}

@font-face {
    font-family: "Gotham Pro Regular";
    src: url("fonts/GothamProRegular.ttf");
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url("fonts/GothamProBold.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    padding: 0px;
    height: 100%;
}
body{
    height: 100%;
}
a:link, a:visited, a:hover, a:focus, a:active {
    border: 0;
    outline: 0;
}
#wrapper{
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center;
    padding-bottom: 10%;
}
header a{
    padding-top: 41px;
    display: block;
    margin: 0px auto;
    height: 85px;
    width: 127px;
}
header a img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
h1{
    margin: 0px auto;
    margin-top: 3.9%;
}
h1 span {
    height: auto;
    display: inline-block;
    font-family: "Gotham Pro Regular";
}
h1 span:first-child span:first-child{
    letter-spacing: -0.013em;
    padding-left: -27px;
    margin-right: -22px;
    word-spacing: -2px;
}
nav a:first-child::before{
    content: url("img/telegram.png");
}
nav a:last-child::before{
    content: url("img/messanger.png");
}
nav a:hover{
    background-color: #eed908;
    cursor: pointer;
}
h1{
    margin-top: 5.9%;
}
h1>span{
    display: inline-block;
}
h1>span:first-child{
    word-spacing: -0.9px;
    text-align: right;
    font-size: 63px;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    font-weight: normal;
    width: 54.6%;
    letter-spacing: -0.2px;
}
h1>span:last-child {

    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 162px;
    width: 40%;
    color: #ffde2a;
    position: relative;
    padding-left: 9px;
}
header div.info p{
    font-weight: lighter;
    font-size: 18px;
    font-family: "Gotham Pro Regular";
    color: rgb( 255, 255, 255 );
    line-height: 1.5;
    text-align: center;
}
div.info p:nth-child(1){
    margin-top: 0px;
}
div.info p:nth-child(2){
    letter-spacing: 0px;
    margin-top: 0px;
    word-spacing: 0.1px;
}
main p{
    margin: 0px auto;
    letter-spacing: -0.1px;
    margin-top: 6.3%;
    font-size: 25px;
    font-family: "Gotham Pro Regular";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    word-spacing: -1px;
}
nav{
    margin-top: 2.16%;
}
nav div{
    width: 29.7%;
    margin: 0px auto;
}
nav div a{
    width: 47%;
    position: relative;
    padding-top: 20px;
    display: inline-block;
    background-color: rgb( 255, 222, 42 );
    box-shadow: 0px 10px 38px -1px rgb( 255, 222, 42 );
    height: 36px;
    text-align: center;
}
nav a:first-child{
    position: relative;
    margin-right: 4.66%;
    font-size: 14px;
    font-family: "Gotham Pro Bold";
    color: rgb( 48, 48, 48 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    padding-left: 3px;
}
nav a:last-child{
    position: relative;
    letter-spacing: 3px;
    font-size: 14px;
    font-family: "Gotham Pro Bold";
    color: rgb( 48, 48, 48 );
    font-weight: bold;
    text-transform: uppercase;
}
nav a::before{
    left: 81%;
    position: absolute;
    bottom: 13px;
}

@media (min-width: 320px){
    h1 > span{
        display: block;
    }
    h1>span:first-child, h1>span:last-child{
        width: 100%;
        text-align: center;
    }
    h1>span:first-child{
        font-size: 1.3em;
    }
    h1>span:last-child{
        font-size: 2em;
    }
    .info{
        margin-top: 5%;
    }
    header div.info p{
        font-size: 0.9em;
        padding: 0px 5%;
    }
    main p{
        font-size: 1em;
        padding: 9% 3%;
        text-align: center;
    }
    nav div a{
        width: 100%;
        display: block;
        height: 10%;
    }
    nav div{
        width: 90%;
    }
    nav div a:first-child{
        margin-bottom: 7%;
    }
    nav a:first-child, nav a:last-child{
        height: 5em;
        line-height: 2em;
    }
}
@media (min-width: 576px) {
    h1>span:first-child {
        font-size: 2em;
    }

    h1>span:last-child {
        font-size: 3.2em;
    }
    header div.info p {
        font-size: 1.3em;
        padding: 0px 5%;
    }
    main p{
        font-size: 1.4em;
    }
}
@media (min-width: 768px) {

    nav div a{
        width: 47%;
        position: relative;
        padding-top: 20px;
        display: inline-block;
        background-color: rgb( 255, 222, 42 );
        box-shadow: 0px 10px 38px -1px rgb( 255, 222, 42 );
        height: 36px;
        text-align: center;
    }
    nav div {
        width: 60%;
        margin: 0px auto;
    }
    .info {
        margin-top: 2%;
    }
    main p{
        margin-top: 4%;
        padding-bottom: 4%;
    }
    header a{
        height: 125px;
    }
    header a img{
      object-fit: none;
    }
}
@media (min-width: 992px) {
    #wrapper{
        padding-bottom: 0px;
    }
    h1{
        margin-top: 4.9%;
    }
    h1>span{
        display: inline-block;
    }
    h1>span:first-child{
        word-spacing: -0.9px;
        text-align: right;
        font-size: 63px;
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        font-weight: normal;
        width: 58%;
        letter-spacing: -0.2px;
    }
    h1>span:last-child {

        font-family: "Gotham Pro";
        font-weight: bold;
        font-size: 162px;
        width: 40%;
        color: #ffde2a;
        position: relative;
        padding-left: 9px;
        text-align: left;
    }
    header div.info p{
        font-weight: lighter;
        font-size: 18px;
        font-family: "Gotham Pro Regular";
        color: rgb( 255, 255, 255 );
        line-height: 1.5;
        text-align: center;
    }
    div.info p:nth-child(1){
        margin-top: 0px;
    }
    div.info p:nth-child(2){
        letter-spacing: 0px;
        margin-top: 0px;
        word-spacing: 0.1px;
    }
    main p{
        margin: 0px auto;
        letter-spacing: -0.1px;
        margin-top: 6.3%;
        font-size: 25px;
        font-family: "Gotham Pro Regular";
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        line-height: 1.333;
        text-align: center;
        word-spacing: -1px;
    }
    nav{
        margin-top: 2.16%;
    }

}
@media (min-width: 1200px) {

    h1>span:first-child {
        font-size: 2em;
    }

    h1>span:last-child {
        font-size: 5.2em;
        text-align: left;
    }

}
@media (min-width: 1920px) {
    h1 {
        margin-top: 5.9%;
    }
    .info {
        margin-top: 0px;
    }
    h1>span{
        display: inline-block;
    }
    h1>span:first-child{
        word-spacing: -0.9px;
        text-align: right;
        font-size: 63px;
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        font-weight: normal;
        width: 54.6%;
        letter-spacing: -0.2px;
    }
    h1>span:last-child {
        font-family: "Gotham Pro";
        font-weight: bold;
        font-size: 162px;
        width: 40%;
        color: #ffde2a;
        position: relative;
        padding-left: 9px;
    }
    header div.info p{
        font-weight: lighter;
        font-size: 18px;
        font-family: "Gotham Pro Regular";
        color: rgb( 255, 255, 255 );
        line-height: 1.5;
        text-align: center;
    }
    div.info p:nth-child(1) {
        margin-top: 2px;
    }
    div.info p:nth-child(2) {
        letter-spacing: 0px;
        margin-top: 0px;
        word-spacing: 0.1px;
    }
    main p{
        margin: 0px auto;
        letter-spacing: -0.1px;
        margin-top: 6.25%;
        padding: 0px 0px;
        font-size: 25px;
        font-family: "Gotham Pro Regular";
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        line-height: 1.3;
        text-align: center;
        word-spacing: -1px;
    }
    nav{
        margin-top: 2.2%;
    }
    nav div {
        width: 30%;
    }
    nav a:before{
        left: 81%;
        position: absolute;
        bottom: 12px;
    }
    nav a:last-child, nav a:first-child {
        height: 4em;
        line-height: 1em;
    }
    nav a:first-child{
        padding-left: 10px;
    }
    nav a:last-child{
        padding-left: 3px;
    }
}