*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 30px;
}
.mark{
    margin: 20px;
}
.mark div{
  margin: -2px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("img/stars.png") no-repeat 4px 4px;
  background-size: 350%;
}

.mark div.check{
    background-position: -127px 0px;
}

.mark div.non-check{
    background-position: -1px 0px;
}

.mark div.last-check{
    background-position: -67px 0px;
}

.progressbar, .progressbar .progress{
    border-radius: 20px;
}
.progressbar{
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 240px;
    height: 30px;
    -webkit-box-shadow: inset 0px 2px 18px -5px rgba(0,0,0,0.76);
    -moz-box-shadow: inset 0px 2px 18px -5px rgba(0,0,0,0.76);
    box-shadow: inset 0px 2px 18px -5px rgba(0,0,0,0.76);
}

.progressbar .progress{
    width: 50px;
    height: 100%;
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top, #b4e391 0%, #61c419 57%, #b4e391 100%);
    background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 57%,#b4e391 100%);
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 57%,#b4e391 100%);
}

.progressbar .percent{
    text-align: center;
    display: block;
    position: relative;
    bottom: 25px;
}

form{
    float: left;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

form button{
    float: right;
    margin: 10px;
    width: 200px;
    height: 30px;
}
form input{
    width: 100px;
}

input:valid{
    border: 2px solid green;
}

input:invalid{
    border: 2px solid red;
}

#mainButton {
    text-align: center;
    width:100px;
    outline: none;
    line-height: 10px;
    border: none;
    font-size: 14px;
    display: block;
    float: left;
    border-radius: 10px;
    height: 30px;
    margin-right: 50vh;
    margin-top: 20px;
    background-color: #809f95;
}

#mainButton:hover{
    background-color: #e30320;
    color: white;
}

#browsers{
    clear: both;
    height: 100px;
}

#browsers img{
    display: none;
    width: 100px;
    height: 100px;
}

#browsers div{
    float: left;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#browsers div:last-child{
    float: right;
}

#browsers div.open-alt::before{
    content: "";
    font-size: 20px;
    display: block;
    position: relative;
    text-align: center;
    top: 40px;
}

#browsers div.open-alt:nth-child(1)::before{
    content: "Chrome";
    background: linear-gradient(to right, #2a911d 0%,#2fa814 37%,#ff2828 41%,#ff2828 48%,#ff2828 48%,#ff2828 58%,#f4ca33 61%,#f4ca33 100%);
    -webkit-background-clip: text;
    color: transparent;
}

#browsers div.open-alt:nth-child(2)::before{
    content: "FireFox";
    color: #eed908;
}

#browsers div.open-alt:nth-child(3)::before{
    content: "Opera";
    color: #c40405;
}

#browsers div.open-alt:nth-child(4)::before{
    content: "Safari";
    color: #8e8591;
}

#browsers div.open-alt:nth-child(5)::before{
    content: "Internet Explorer";
    color: #319ac4;
    top: 25px;
}

